<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.career_predictor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Predictor"
        tools:replace="android:theme">
        <activity android:name="com.example.career_predictor.Clinical_Psycho"></activity>
        <activity android:name="com.example.career_predictor.Counsellor" />
        <activity android:name="com.example.career_predictor.Psychologist" />
        <activity android:name="com.example.career_predictor.Journalist" />
        <activity android:name="com.example.career_predictor.Archivist" />
        <activity android:name="com.example.career_predictor.Teacher" />
        <activity android:name="com.example.career_predictor.Consultant" />
        <activity android:name="com.example.career_predictor.Manager" />
        <activity android:name="com.example.career_predictor.Statistician" />
        <activity android:name="com.example.career_predictor.Financial_Analyst" />
        <activity android:name="com.example.career_predictor.Auditor" />
        <activity android:name="com.example.career_predictor.Career_Data" />
        <activity android:name="com.example.career_predictor.Loading" />
        <activity android:name="com.example.career_predictor.Career_Predictor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>