<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.logo">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.LOGO"
        tools:replace="android:theme">
        <activity android:name="com.example.logo.AdminChatSimran"></activity>
        <activity android:name="com.example.logo.AdminChat"></activity>
        <activity android:name="com.example.logo.Admin" />
        <activity android:name="com.example.logo.Signup_form" />
        <activity android:name="com.example.logo.login_form" />
        <activity android:name="com.example.logo.Walk" />
        <activity android:name="com.example.logo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>